src/flows/Template_Cloner-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AddToOutput</name>
        <label>AddToOutput</label>
        <locationX>335</locationX>
        <locationY>209</locationY>
        <assignmentItems>
            <assignToReference>Output</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ClonedStep</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Child_Steps</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Template Cloner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Template Cloner</label>
    <loops>
        <name>Loop_through_Child_Steps</name>
        <label>Loop through Child Steps</label>
        <locationX>182</locationX>
        <locationY>342</locationY>
        <assignNextValueToReference>StepIterator</assignNextValueToReference>
        <collectionReference>TemplateSteps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cloned_Step</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Output</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Cloned_Step</name>
        <label>Cloned Step</label>
        <locationX>448</locationX>
        <locationY>339</locationY>
        <connector>
            <targetReference>AddToOutput</targetReference>
        </connector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>StepIterator.Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inspection__c</field>
            <value>
                <elementReference>InspectionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instructions__c</field>
            <value>
                <elementReference>StepIterator.Instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>StepIterator.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>StepIterator.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Step_Number__c</field>
            <value>
                <elementReference>StepIterator.Step_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Inspection_Step__c</object>
    </recordCreates>
    <recordCreates>
        <name>Insert_Output</name>
        <label>Insert Output</label>
        <locationX>340</locationX>
        <locationY>484</locationY>
        <inputReference>Output</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Child_Steps</name>
        <label>Get Child Steps</label>
        <locationX>115</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Child_Steps</targetReference>
        </connector>
        <filters>
            <field>Inspection__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedInspection.Template__c</elementReference>
            </value>
        </filters>
        <object>Inspection_Step__c</object>
        <outputReference>TemplateSteps</outputReference>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Instructions__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Step_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Template</name>
        <label>Get Template</label>
        <locationX>77</locationX>
        <locationY>72</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Child_Steps</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InspectionId</elementReference>
            </value>
        </filters>
        <object>Inspection__c</object>
        <outputReference>SelectedInspection</outputReference>
        <queriedFields>Template__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Template</startElementReference>
    <variables>
        <name>ClonedStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inspection_Step__c</objectType>
    </variables>
    <variables>
        <name>InspectionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Output</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inspection_Step__c</objectType>
    </variables>
    <variables>
        <name>SelectedInspection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inspection__c</objectType>
    </variables>
    <variables>
        <name>StepIterator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inspection_Step__c</objectType>
    </variables>
    <variables>
        <name>TemplateSteps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inspection_Step__c</objectType>
    </variables>
</Flow>
