src/flows/Template_Cloner-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AddToOutput</name>
        <label>AddToOutput</label>
        <locationX>255</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>Output</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ClonedStep</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Child_Steps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Ultimate_Template_Id</name>
        <label>Set Ultimate Template Id</label>
        <locationX>167</locationX>
        <locationY>2</locationY>
        <assignmentItems>
            <assignToReference>UltimateTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedInspection.Template__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_is_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Traverse_Up_1_template_level</name>
        <label>Traverse Up 1 template level</label>
        <locationX>657</locationX>
        <locationY>122</locationY>
        <assignmentItems>
            <assignToReference>UltimateTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>template.Template__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_is_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Template</name>
        <label>Update Template</label>
        <locationX>734</locationX>
        <locationY>507</locationY>
        <assignmentItems>
            <assignToReference>SelectedInspection.Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UltimateTemplateId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Selected</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_that_new_inspection_has_the_right_template</name>
        <label>Check that new inspection has the right template</label>
        <locationX>487</locationX>
        <locationY>508</locationY>
        <defaultConnector>
            <targetReference>Update_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Need to update</defaultConnectorLabel>
        <rules>
            <name>Fine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedInspection.Template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UltimateTemplateId</elementReference>
                </rightValue>
            </conditions>
            <label>Fine</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Template</name>
        <label>Is Template ?</label>
        <locationX>280</locationX>
        <locationY>119</locationY>
        <defaultConnector>
            <targetReference>Traverse_Up_1_template_level</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a template</defaultConnectorLabel>
        <rules>
            <name>Is_Template_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>template.Template__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Child_Steps</targetReference>
            </connector>
            <label>Is Template Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Template Cloner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Template Cloner</label>
    <loops>
        <name>Loop_through_Child_Steps</name>
        <label>Loop through Child Steps</label>
        <locationX>122</locationX>
        <locationY>357</locationY>
        <assignNextValueToReference>StepIterator</assignNextValueToReference>
        <collectionReference>TemplateSteps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cloned_Step</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Output</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Cloned_Step</name>
        <label>Cloned Step</label>
        <locationX>375</locationX>
        <locationY>358</locationY>
        <connector>
            <targetReference>AddToOutput</targetReference>
        </connector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>StepIterator.Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Green_Text__c</field>
            <value>
                <elementReference>StepIterator.Green_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inspection__c</field>
            <value>
                <elementReference>InspectionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instructions__c</field>
            <value>
                <elementReference>StepIterator.Instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>StepIterator.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>StepIterator.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Red_Text__c</field>
            <value>
                <elementReference>StepIterator.Red_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Step_Number__c</field>
            <value>
                <elementReference>StepIterator.Step_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Yellow_Text__c</field>
            <value>
                <elementReference>StepIterator.Yellow_Text__c</elementReference>
            </value>
        </inputAssignments>
        <object>Inspection_Step__c</object>
    </recordCreates>
    <recordCreates>
        <name>Insert_Output</name>
        <label>Insert Output</label>
        <locationX>284</locationX>
        <locationY>508</locationY>
        <connector>
            <targetReference>Check_that_new_inspection_has_the_right_template</targetReference>
        </connector>
        <inputReference>Output</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Child_Steps</name>
        <label>Get Child Steps</label>
        <locationX>42</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Child_Steps</targetReference>
        </connector>
        <filters>
            <field>Inspection__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UltimateTemplateId</elementReference>
            </value>
        </filters>
        <object>Inspection_Step__c</object>
        <outputReference>TemplateSteps</outputReference>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Instructions__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Step_Number__c</queriedFields>
        <queriedFields>Green_Text__c</queriedFields>
        <queriedFields>Yellow_Text__c</queriedFields>
        <queriedFields>Red_Text__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Template_ID</name>
        <label>Get Template ID</label>
        <locationX>0</locationX>
        <locationY>2</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Ultimate_Template_Id</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InspectionId</elementReference>
            </value>
        </filters>
        <object>Inspection__c</object>
        <outputReference>SelectedInspection</outputReference>
        <queriedFields>Template__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Verify_is_Template</name>
        <label>Verify is Template</label>
        <locationX>489</locationX>
        <locationY>4</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Template</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UltimateTemplateId</elementReference>
            </value>
        </filters>
        <object>Inspection__c</object>
        <outputReference>template</outputReference>
        <queriedFields>Template__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Selected</name>
        <label>Update Selected</label>
        <locationX>929</locationX>
        <locationY>506</locationY>
        <inputReference>SelectedInspection</inputReference>
    </recordUpdates>
    <startElementReference>Get_Template_ID</startElementReference>
    <variables>
        <name>ClonedStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inspection_Step__c</objectType>
    </variables>
    <variables>
        <name>InspectionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Output</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inspection_Step__c</objectType>
    </variables>
    <variables>
        <name>SelectedInspection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inspection__c</objectType>
    </variables>
    <variables>
        <name>StepIterator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inspection_Step__c</objectType>
    </variables>
    <variables>
        <name>template</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inspection__c</objectType>
    </variables>
    <variables>
        <name>TemplateSteps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inspection_Step__c</objectType>
    </variables>
    <variables>
        <name>UltimateTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
